<%
local uci = require('luci.model.uci')
local jsonc = require('luci.jsonc')
local ssruim = require('ssrui')
ssrui_config = uci:get_all("ssrui", "main_server")

write(ssruim.to_js_code())
%>

<%-
function ssr_write_option(opt_json)
    local fd = io.open(opt_json)
    if fd == nil then 
        write('<option value="error">error</optioin>')
    else
        local jj = jsonc.parse(fd:read("*a"))
        if jj == nil then
            write('<option value="error">error</optioin>')
        end
        local _, v
        for _, v in ipairs(jj) do
           write('<option value="' .. v .. '">' .. v .. '</option>')
        end
    end
end
-%>
<div id="_inject_css_"></div>

<link   rel="stylesheet" href="/luci-static/resources/ssrui/ssrui.css">
<script src="/luci-static/resources/ssrui/fucking.js"></script>

<div class="d-flex flex-column align-items-end">
    <div id="update-info" class="d-none text-light rounded fade show w-75 mw-100"><%translate("MESSAGE")%></div>
    <textarea id="address-bar" rows="1" class="d-none text-light bg-info rounded fade show w-100 m-2 p-2" 
              style="resize: none;" placeholder="<%:Subscription Address%>"></textarea>
</div>

<div class="d-flex flex-column flex-grow-1">
<div class="nav nav-pills nav-justified rounded border" role="tablist" id="nav-tab">
    <a class="nav-item nav-link active" id="nav-conf-tab" role="tab" href="#configuration"><%:Configuration%></a>
    <a class="nav-item nav-link"        id="nav-subs-tab" role="tab" href="#subscription"><%:Subscription%></a>
    <a class="nav-item nav-link"        id="nav-gfw-tab"  role="tab" href="#subscription"><%:Rules of Proxy%></a>
    <a class="nav-item nav-link"        id="nav-oths-tab" role="tab" href="#others"><%:Others%></a>
</div>
<script type="text/javascript">tab_click("nav-tab");</script>

<div class="tab-pane" id="nav-conf-content" role="tabpanel" style="display: block;">
<div class="d-flex flex-column flex-md-row align-itmes-start p-2 m-2 justify-content-left">
    <div class="d-flex flex-column flex-grow-1 flex-basis-0 flex-grow-1 p-2 m-2 bg-light border border-secondary rounded">
        <div class="d-flex flex-column user-select-box">
            <label class="mx-2 text-primary"><%:Select SSR Server%>: </label>
            <select id="user-server-list" class="flex-grow-1 border rounded-pill mx-3" name="what-server">
            </select>
<script type="text/javascript">
document.getElementById("user-server-list").addEventListener("change", update_form_configure);
</script>
        </div>
        <div class="user-ping-btn mx-2 mt-5">
            <input class="w-100 border rounded bg-dark text-light"  id="user-test-button" type="button" value="<%:TEST SERVER%>"/>
        </div>
        <div class="d-flex flex-column user-ping-out mx-2 mt-1 h-100">
            <textarea class="form-control textarea-shadow border-2" id="user-text-output" placeholder="<%:Server Test Output%>" readonly></textarea>
        </div>
    </div>
    <div class="m-2 p-2 flex-grow-1">
        <fieldset>
            <legend class="py-2 px-4 text-light bg-secondary rounded-pill"><%:SSR Configuration Editor%></legend>
            <table class="table table-light table-borderless user-ssr-config-table">
                <tr style="display: none">
                    <td><%:Name%> :</td>
                    <td><input autocomplete="on" type="text" id="main-server-remarks" name="user.ssrui.main_server.remarks" /><br /></td>
                </tr>
                <tr>
                    <td><%:Server%> :</td>
                    <td><input autocomplete="on" type="text" id="main-server-server" name="user.ssrui.main_server.server" /><br /></td>
                </tr>
                <tr>
                    <td><%:Server Port%> :</td>
                    <td><input autocomplete="on" type="text" id="main-server-server-port" name="user.ssrui.main_server.server_port" /><br /></td>
                </tr>
                <tr>
                    <td><%:Local Address%> :</td>
                    <td><input autocomplete="on" type="text" id="main-server-local-address" name="user.ssrui.main_server.local_address" /><br /></td>
                </tr>
                <tr>
                    <td><%:Local Port%> :</td>
                    <td><input autocomplete="on" type="text" id="main-server-local-port" name="user.ssrui.main_server.local_port" /><br /></td>
                </tr>
                <tr>
                    <td><%:Password%> :</td>
                    <td><input autocomplete="on" type="password" id="main-server-password" name="user.ssrui.main_server.password" /><br /></td>
                </tr>
                <tr>
                    <td><%:Method%> :</td>
                    <td>
                        <select id="main-server-method" name="user.ssrui.main_server.method" class="w-100">
                        <% ssr_write_option("/etc/ssrui/method_list.json") %>
                        </select><br /></td>
                </tr>
                <tr>
                    <td><%:Protocol%> :</td>
                    <td>
                        <select id="main-server-protocol" name="user.ssrui.main_server.protocol" class="w-100">
                            <% ssr_write_option("/etc/ssrui/protocol_list.json") %>
                        </select><br /></td>
                </tr>
                <tr>
                    <td><%:Protocol Parameter%>:</td>
                    <td><input autocomplete="on" type="text" id="main-server-protoparam" name="user.ssrui.main_server.protoparam" /><br /></td>
                </tr>
                <tr>
                    <td><%:Obfs%> :</td>
                    <td>
                    <select id="main-server-obfs" name="user.ssrui.main_server.obfs" class="w-100">
                        <% ssr_write_option("/etc/ssrui/obfs_list.json") %>
                    </select><br /></td>
                </tr>
                <tr>
                    <td><%:Obfs Parameter%> :</td>
                    <td><input autocomplete="on" type="text" id="main-server-obfsparam" name="user.ssrui.main_server.obfsparam" /><br /></td>
                </tr>
                </table>
                </fieldset>
        <div class="d-flex flex-row justify-content-end">
            <span class="d-flex flex-row mr-1 mt-2 w-50">
            <button id="config-button-submit" type="button" class="button btn-primary mx-2 px-2 py-1 flex-grow-1" style="flex-basis: 0;"> <%:Submit%> </button>
            <button id="config-button-reset"  type="button" class="button btn-primary mx-2 px-2 py-1 flex-grow-1" style="flex-basis: 0;"> <%:Reset%> </button>
            <button id="config-button-delete" type="button" class="button btn-primary mx-2 px-2 py-1 flex-grow-1" style="flex-basis: 0;"> <%:Delete%> </button>
            </span>
        </div>
    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        ElementsAccessor.config_reset_button.addEventListener("click", function() {
            update_form_configure();
        });
        ElementsAccessor.config_submit_button.addEventListener("click", function() {
            update_server_list_from_form();
        });
        ElementsAccessor.config_delete_button.addEventListener("click", function() {
            delete_current_config();
        });
    });
    </script>
    </div>
</div>
</div>

<div id="nav-subs-content" class="tab-pane" role="tabpanel" style="display: none;">
<div class="user-container p-2 m-1">
    <div class="user-flex-item user-ia m-2 p-2 user-bg-server rounded">
        <div class="w-100 d-flex flex-column">
            <a href="#subscription-list" class="ml-1 my-2 p-2 rounded text-light font-weight-bolder bg-secondary"><%:List of Subscriptions%>:</a><br/>
            <ul class="nobullet list-group" id="user-subscriptions-group"></ul>
        </div>
    </div>
    <div class="user-flex-item user-ic m-2 p-2 flex-row">
        <div class="d-flex flex-row justify-content-between">
            <span>
                <button id="subs-button-sync"    type="button" class="button btn-primary mx-2 px-2 py-1"> <%:Sync With Server%> </button>
                <button id="subs-button-confirm" type="button" class="button btn-warning mx-2 px-2 py-1 d-none"> <%:Confirm%> </button>
            </span>
            <div class="d-flex flex-row m-2 user-button">
                <button id="subs-button-new"    type="button" class="button btn-primary mx-2 px-2 py-1 flex-grow-1" 
                                                              style="flex-basis: 0;" > <%:New%> </button>
                <button id="subs-button-update" type="button" class="button btn-primary mx-2 px-2 py-1 flex-grow-1" 
                                                              style="flex-basis: 0;" > <%:Update%> </button>
                <button id="subs-button-delete" type="button" class="button btn-primary mx-2 px-2 py-1 flex-grow-1" 
                                                              style="flex-basis: 0;" > <%:Delete%> </button>
            </div>
        </div>
    </div>
    <div class="user-flex-item user-ib m-2 p-2 user-bg-subscription rounded">
        <div class="w-100 d-flex flex-column">
            <a href="#server-list" class="ml-1 my-2 p-2 rounded text-light font-weight-bolder bg-secondary"><%:List of Servers%>:</a><br/>
            <ul class="nobullet list-group" id="user-links-group"></ul>
        </div>
    </div>
</div>
</div>

<div class="tab-pane" id="nav-gfw-content" role="tabpanel"  style="display: none;">
    <div id="gfw-all">
        <div id="gfw-list"></div>
        <div id="gfw-menu">
            <button id="gfw-update" type="button"><%:Update%></button>
            <button id="gfw-rename" type="button"><%:Rename%></button>
            <button id="gfw-post"   type="button"><%:Post to Server%></button>
            <button id="gfw-delete" type="button"><%:Delete%></button>
        </div>
        <div id="gfw-text">
            <div id="temp">
                <div class="gfw-title">GFW LIST</div>
                <textarea placeholder="<%:GFW LIST%>" rows=20></textarea>
            </div>
        </div>
    </div>
</div>
<div id="nav-oths-content" class="tab-pane" role="tabpanel" style="display: none;">

<div class="d-flex flex-column">
    <span class="user-enable mt-3 px-2 text-weight-bold bg-secondary rounded-pill">
        <% if ssrui_config["enabled"] ~= nil and (ssrui_config["enabled"] == "on" or ssrui_config["enabled"] == "1") then %>
        <input type="checkbox" name="user.ssrui.main_server.enabled" class="m-2" checked/>
        <% else %>
        <input type="checkbox" name="user.ssrui.main_server.enabled" class="m-2"/>
        <% end  %>
        <%:Enable Server%>
    </span>
    <span class="pl-3 mt-3 py-1 text-weight-bold bg-secondary rounded-pill"><%:JSON File Editor%></span>
    <textarea rows="20" placeholder="<%:SSR JSON CONFIGURATION FILE%>" class="user-json-output m-2 w-100"></textarea>
</div>
</div>
</div>
